body{
    background-color: rgb(212, 161, 94);
}

.center{
    padding: 10px 24px;
    margin: 25px auto;
    max-width: 1024px;
    background-color: white;
    box-shadow: 20px 20px 20px 20px rgb(148, 130, 116);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    display: flex;
}


.title-name{
    width: 45%;
    padding: 10px;
    font-size: x-large;
}
.social-net{
    width: 55%;
    border-bottom: 2px solid rgb(85, 32, 2);
}
.wrap-s{
    display: flex;
    margin-right: 0%;
    margin-left: 60%;
    margin-top: 15%; 
}



.title-image{
    width: 30%;
    margin: 10px;
}
.main-image{
    width: 100%;
}
.information{
    width: 70%;
    margin: 20px 20px;
}
.title-about{
    line-height: 90%;
    border-bottom: 2px solid rgb(85, 32, 2);
    font-size: xx-large;
}
.wrapper{
    display: flex;
}

.separator{
    width: 90%;;
    line-height: 90%;
    border-bottom: 2px solid rgb(85, 32, 2);
}